html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.fa-xmark {
  pointer-events: none;
}

html {
  font-family: "Roboto Condensed", sans-serif;
}

.hamburger {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hamburger__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 24px;
  height: 24px;
}

.hamburger__bar {
  display: block;
  position: absolute;
  right: 0;
  width: 24px;
  height: 3px;
  background-color: white;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.hamburger__bar:nth-child(1) {
  top: 0;
  width: 24px;
}

.hamburger__bar:nth-child(3) {
  bottom: 0;
  width: 24px;
}

.hamburger--is-active .hamburger__bar:nth-child(1) {
  -webkit-transform: translateY(11px) rotate(-45deg);
          transform: translateY(11px) rotate(-45deg);
}

.hamburger--is-active .hamburger__bar:nth-child(2) {
  opacity: 0;
}

.hamburger--is-active .hamburger__bar:nth-child(3) {
  -webkit-transform: translateY(-11px) rotate(45deg);
          transform: translateY(-11px) rotate(45deg);
}

.search-box {
  position: relative;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #009f6b;
  color: #fff;
}

.search-box__query {
  cursor: pointer;
  padding: 10px;
  border: none;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
}

.search-box__query::-webkit-input-placeholder {
  color: #fff;
  padding-left: 5px;
}

.search-box__query:-ms-input-placeholder {
  color: #fff;
  padding-left: 5px;
}

.search-box__query::-ms-input-placeholder {
  color: #fff;
  padding-left: 5px;
}

.search-box__query::placeholder {
  color: #fff;
  padding-left: 5px;
}

.search-box__button {
  position: absolute;
  padding: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translate(-10px, -50%);
          transform: translate(-10px, -50%);
  color: white;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-box__button::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("/img/search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.link {
  height: 40px;
  display: block;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  background-color: #009f6b;
  color: #f3f3f3;
}

.pagination {
  width: 300px;
  margin-top: 10px;
  font-size: 1.2rem;
}

@media (min-width: 400px) {
  .pagination {
    width: 380px;
    font-size: 1.3rem;
  }
}

@media (min-width: 576px) {
  .pagination {
    width: 440px;
    font-size: 1.4rem;
  }
}

.pagination__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
}

.pagination__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 275px;
  margin-right: 5px;
}

@media (min-width: 400px) {
  .pagination__inner {
    width: 300px;
  }
}

@media (min-width: 576px) {
  .pagination__inner {
    width: 400px;
  }
}

.pagination__info {
  font-size: 1.2rem;
}

@media (min-width: 576px) {
  .pagination__info {
    font-size: 1.3rem;
  }
}

.pagination__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination__page, .pagination__button {
  min-width: 25px;
  height: 25px;
  margin: 0 2px;
  background-color: none;
  border: none;
  font-size: 1.2rem;
  text-align: center;
}

@media (min-width: 400px) {
  .pagination__page, .pagination__button {
    margin: 0 5px;
  }
}

@media (min-width: 576px) {
  .pagination__page, .pagination__button {
    margin: 6px;
    font-size: 1.3rem;
  }
}

.pagination__page--active, .pagination__button--active {
  color: #fff;
  background-color: green;
}

.pagination__page--hide, .pagination__button--hide {
  display: none;
}

.pagination__page:hover, .pagination__button:hover {
  cursor: pointer;
}

.pagination__dots {
  display: block;
  min-width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

.per-page-select {
  height: 30px;
  position: absolute;
  z-index: 10;
  right: 5px;
  top: 5px;
  font-size: 1.3rem;
}

@media (min-width: 400px) {
  .per-page-select {
    font-size: 1.4rem;
  }
}

@media (min-width: 480px) {
  .per-page-select {
    font-size: 1.5rem;
  }
}

.table-content__table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  -webkit-box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.3);
}

.table-content__header {
  height: 40px;
  font-size: 1.3rem;
}

@media (min-width: 400px) {
  .table-content__header {
    font-size: 1.4rem;
  }
}

@media (min-width: 480px) {
  .table-content__header {
    font-size: 1.5rem;
  }
}

.table-content__head-cell {
  color: white;
  background-color: #009f6b;
}

.table-content__row {
  height: 30px;
  position: relative;
  text-align: left;
  background-color: #d3d3d3;
}

.table-content__row:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-content__row-cell {
  width: 40%;
  padding: 5px;
  word-break: break-all;
}

.table-content__body {
  font-size: 1.2rem;
}

@media (min-width: 400px) {
  .table-content__body {
    font-size: 1.3rem;
  }
}

@media (min-width: 480px) {
  .table-content__body {
    font-size: 1.4rem;
  }
}

.table-content__row-link {
  width: 20%;
  text-align: center;
  color: #009f6b;
}

.table-content__link {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  color: #009f6b;
  cursor: pointer;
}

.table-content__delete-btn {
  background-color: red;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.select-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  padding: 20px;
  border-radius: 10px;
  background-color: #009f6b;
  font-size: 1.8rem;
  color: #ebf6f7;
  text-decoration: none;
  text-transform: uppercase;
}

.search-modal {
  visibility: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #f3f3f3;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .225s linear;
  transition: opacity .225s linear;
}

.search-modal__container {
  height: 100%;
}

.search-modal--active {
  opacity: 1;
  pointer-events: auto;
}

.search-modal--visible {
  visibility: visible;
  z-index: 1000;
}

.search-modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.search-modal__title {
  font-size: 1.8rem;
}

.search-modal__close-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-modal__close-mark {
  display: block;
}

.search-modal__query-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
  margin: 16px 24px;
  border: 1px solid black;
  border-radius: 20px;
}

.search-modal__query {
  margin-left: 10px;
  background-color: transparent;
  border: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.search-modal__query[placeholder]:focus {
  color: #009f6b;
  outline: 0;
}

.search-modal__glass {
  padding-right: 10px;
  cursor: pointer;
}

.search-modal__prompts {
  display: none;
  min-height: 300px;
  overflow-y: scroll;
  padding-left: 30px;
}

.search-modal__prompts--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.search-modal__controll {
  min-height: 300px;
}

.search-modal__prompt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  width: 100%;
  margin-right: 5px;
  padding: 10px 15px;
  text-align: center;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-modal__prompt:hover {
  cursor: pointer;
  background-color: rgba(3, 172, 115, 0.7);
}

.search-modal__results {
  display: none;
  padding-left: 30px;
}

.search-modal__results--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-modal__result {
  height: 36px;
}

.search-modal__result-link {
  color: black;
  font-size: 1.3rem;
  display: block;
  padding: 10px 15px;
  height: 100%;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.search-modal__result-link:hover {
  cursor: pointer;
  background-color: rgba(3, 172, 115, 0.7);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #009f6b;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.header__logo-link {
  display: block;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  left: 8px;
}

.header__image {
  width: 40px;
  height: 40px;
  display: block;
  color: white;
}

.header__title {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #ebf6f7;
}

@media (min-width: 400px) {
  .header__title {
    font-size: 1.8rem;
  }
}

@media (min-width: 480px) {
  .header__title {
    font-size: 2rem;
  }
}

.header__hamburger {
  right: 8px;
  top: 15px;
  position: absolute;
  z-index: 200;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: #009f6b;
  z-index: 0;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

.nav--is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 1100;
}

.nav__inner {
  height: 100%;
}

.nav__title {
  padding: 10px 0px;
  text-align: center;
  font-size: 2rem;
  color: white;
}

.nav__list {
  height: 100%;
  width: 150px;
}

.nav__link {
  display: inline-block;
  width: 100%;
  padding: 5px 15px;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.footer {
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  color: #ebf6f7;
  background-color: #009f6b;
  border-radius: 10px;
}

.main-select {
  margin: 0 auto;
  height: calc(100vh - 60px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-select__select {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 576px) {
  .main-select__select {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .main-select__select {
    width: 576px;
  }
}

@media (min-width: 992px) {
  .main-select__select {
    width: 768px;
  }
}

.garden-card {
  position: relative;
  background-color: #f8fbf8;
}

.garden-card--hidden {
  overflow: hidden;
}

.garden-card__main {
  margin-top: 120px;
}

.gardens-main {
  margin-top: 120px;
}

.gardens-main__actions {
  position: fixed;
  z-index: 100;
  top: 60px;
  left: 0;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #f3f3f3;
}

.gardens-main__search {
  width: 100%;
}

.gardens-section {
  padding: 0 10px;
}

.gardens-section__container {
  position: relative;
}

.section-new-plant {
  height: 100%;
}

.section-new-plant__container {
  margin: 0 auto;
  max-width: 500px;
}

@media (min-width: 768px) {
  .section-new-plant__container {
    max-width: 700px;
  }
}

@media (min-width: 992px) {
  .section-new-plant__container {
    max-width: 768px;
  }
}

.page-new-plant {
  position: relative;
  background-color: #f8fbf8;
}

.page-new-plant__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  min-height: 100vh;
}

.page-new-plant__main {
  width: 100%;
  min-height: calc(100vh - 60px);
  padding: 0 10px;
}

.page-new-plant--hidden {
  overflow: hidden;
}

.page-new-plant__main {
  margin-top: 80px;
}

.section-new-plant__inner {
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-new-plant__popup {
  position: absolute;
  display: none;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.section-new-plant__popup--active {
  display: block;
}

.section-new-plant__popup-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-size: 14px;
  color: #fff;
}

.section-new-plant__popup-title, .section-new-plant__popup-name, .section-new-plant__popup-latin-name, .section-new-plant__popup-gardens {
  padding: 10px;
  font-size: 14px;
  color: #fff;
}

.section-new-plant__popup-btn {
  background-color: rgba(0, 158, 105, 0.9);
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.form {
  height: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-size: 14px;
  color: #fff;
  color: black;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5px;
}

.form__group:nth-child(3) {
  margin-top: 20px;
}

.form__label, .form__input {
  border: 0;
  padding: 8px;
}

.form__input {
  font-weight: 300;
  padding-left: 15px;
  background-color: transparent;
  border-bottom: 1px solid black;
}

.form__input:focus {
  outline: none;
}

.form__tab, .form__search-box {
  padding: 5px;
}

.form__label {
  font-weight: 400;
}

.form__negative {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 10px;
  background-color: #fff;
}

.form__negative-text {
  padding: 5px;
  color: red;
}

.form__search {
  position: relative;
  border-radius: 5px;
}

.form__search-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  padding: 3px;
}

.form__search-box {
  width: 100%;
  border-color: transparent;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.form__tab-list {
  max-height: 80px;
  overflow-y: auto;
  list-style: none;
  margin: 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.form__tab {
  display: inline-block;
  min-width: 40px;
  margin: 5px;
  text-align: center;
  position: relative;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(0, 158, 105, 0.7);
  border: 0;
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form__tab:hover {
  background-color: rgba(0, 158, 105, 0.9);
}

.form__tab__tab-item {
  height: 30px;
}

.form__prompt-fields {
  max-height: 125px;
  overflow-y: auto;
  list-style: none;
  text-align: right;
  opacity: 0;
  pointer-events: none;
  padding: 0;
  background-color: #fff;
  border-radius: 5px 0;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 158, 105, 0.7) #fff;
}

.form__prompt-fields--active {
  opacity: 1;
  pointer-events: auto;
  padding: 5px;
  margin-left: 16px;
}

.form__prompt-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  width: 100%;
  font-weight: 300;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.form__prompt-field:hover {
  background-color: rgba(3, 172, 115, 0.7);
}

.form__prompt-field--active {
  pointer-events: none;
  color: rgba(59, 58, 58, 0.6);
}

.form__alert {
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.form__buttons-controll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
  padding: 0 10px;
}

.form__button {
  width: 100px;
  padding: 10px 0;
  background-color: rgba(0, 158, 105, 0.7);
  color: #fff;
  border: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.form__button:hover {
  background-color: rgba(0, 158, 105, 0.9);
}

.main-card {
  height: calc(100vh - 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.card {
  margin: 0 auto;
  width: 240px;
  height: 400px;
  padding: 10px 30px;
  background-color: white;
  border: 1px solid #009f6b;
  border-radius: 10px;
}

.card__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

.card__info {
  margin-bottom: 10px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
}

.card__image-wrapper {
  display: block;
  height: 210px;
  border-radius: 10px;
  background-color: red;
}

.card__img {
  height: 100%;
  border-radius: 10px;
}

.panel {
  height: calc(100vh - 140px);
  margin: 70px 10px 10px;
  border-radius: 10px;
  background-color: #f1e8e8;
}

.panel__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.panel__add-form {
  display: none;
  padding-top: 10px;
}

.panel__add-form--block {
  display: block;
}

.panel__list {
  margin: 0 auto;
  width: 300px;
  padding: 5px;
  text-align: left;
}

@media (min-width: 400px) {
  .panel__list {
    width: 380px;
  }
}

@media (min-width: 480px) {
  .panel__list {
    width: 400px;
  }
}

@media (min-width: 480px) {
  .panel__list {
    width: 440px;
  }
}

.panel__list-item {
  display: inline-block;
  width: 60px;
  padding: 5px;
  margin: 5px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.panel__list-item:hover {
  background-color: rgba(0, 159, 107, 0.6);
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.plants-main {
  margin-top: 120px;
}

.plants-main__actions {
  position: fixed;
  z-index: 100;
  top: 60px;
  left: 0;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #f3f3f3;
}

.plants-main__add-link {
  text-align: center;
  width: calc(50% - 1px);
  border-right: 1px solid #fff;
}

.plants-main__search {
  width: 50%;
}

.plants-section {
  padding: 0 10px;
}

.plants-section__container {
  position: relative;
}

.search-modal {
  visibility: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #f3f3f3;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .225s linear;
  transition: opacity .225s linear;
}

.search-modal__container {
  height: 100%;
}

.search-modal--active {
  opacity: 1;
  pointer-events: auto;
}

.search-modal--visible {
  visibility: visible;
  z-index: 1000;
}

.search-modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.search-modal__title {
  font-size: 1.8rem;
}

.search-modal__close-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-modal__close-mark {
  display: block;
}

.search-modal__query-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
  margin: 16px 24px;
  border: 1px solid black;
  border-radius: 20px;
}

.search-modal__query {
  margin-left: 10px;
  background-color: transparent;
  border: 0;
  width: 100%;
  height: 100%;
}

.search-modal__query[placeholder]:focus {
  color: red;
  outline: 0;
}

.search-modal__glass {
  padding-right: 10px;
  cursor: pointer;
}

.search-modal__prompts {
  display: none;
  min-height: 300px;
  overflow-y: scroll;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding-left: 30px;
}

.search-modal__prompts--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-modal__controll {
  min-height: 300px;
}

.search-modal__prompt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  height: 36px;
  margin-right: 5px;
  width: 100%;
  text-align: center;
  background-color: transparent;
  border: 0;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  padding: 10px 15px;
  cursor: pointer;
}

.search-modal__prompt:hover {
  cursor: pointer;
  background-color: rgba(3, 172, 115, 0.7);
}

.search-modal__results {
  display: none;
  padding-left: 30px;
}

.search-modal__results--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-modal__result {
  height: 36px;
}

.search-modal__result-link {
  color: black;
  font-size: 1.3rem;
  display: block;
  padding: 10px 15px;
  height: 100%;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.search-modal__result-link:hover {
  cursor: pointer;
  background-color: rgba(3, 172, 115, 0.7);
}
/*# sourceMappingURL=main.css.map */