
.plants-main {
  margin-top: 120px;
    &__actions {
      position: fixed;
      z-index: 100;
      top: 60px;
      left: 0;
      width: 100%;
      height: 40px;
      display: flex;
      border-top: 1px solid #f3f3f3;
    }
    &__add-link {
      text-align: center;
  
      width: calc(50% - 1px);
      border-right: 1px solid #fff;
    }

    &__search {
      width: 50%;
    }

  }

  .plants-section {
padding: 0 10px;
    &__container {
  
      position: relative;
    }
  }

  .search-modal {
   
    visibility: hidden; 
    position: fixed;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #f3f3f3;
  
    pointer-events: none;
    opacity: 0;
    transition: opacity .225s linear;
  
  
    &__container {
      height: 100%;
  
    }
    &--active {
      
      opacity: 1;
      pointer-events: auto;
  
      
      
    }
  
    &--visible {
      visibility: visible;
      z-index: 1000;
    }
  
   
    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 16px 24px;
      border-bottom: 1px solid $color-dark-alpha-80;
      
  
    }
  
    &__title {
      font-size: $fs-xl;
    }
  
    &__close-btn {
    
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  
    &__close-mark {
      display: block;
      
    }
  
    &__query-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      margin: 16px 24px;
      border: 1px solid black;
      border-radius: 20px;
      // cursor: pointer;
    }
  
    &__query {
      margin-left: 10px;
      background-color: transparent;
      border: 0;
      width: 100%;
      height: 100%;
      // cursor: pointer;
      &[placeholder]:focus {
        color: red;
        outline: 0;
      }
  
    }
  
    &__glass {
      padding-right: 10px;
      cursor: pointer;
    }
  
    &__prompts {
      display: none;
      min-height: 300px;
      overflow-y: scroll;
      // display: flex;
      flex-wrap: wrap;
      // flex-direction: column;
      align-content: flex-start;
      
      padding-left: 30px;
  
      &--active {
        display: flex;
      }
  
    }
  
    &__controll {
      min-height: 300px;
    }
  
    &__prompt {
      display:flex;
      // flex: 1 1 auto;
      text-align: left;
      height: 36px;
      // line-height: 24px;
      margin-right: 5px;
      width: 100%;
      text-align: center;
      // margin-bottom: 6px;
      background-color: transparent;
      border: 0;
      transition: background-color 0.3s ease;
      // text-decoration: none;
      padding: 10px 15px;
      // color: $color-dark-alpha-100;
      cursor: pointer;
      // border: 1px solid black;
      // border-radius: 20px;
      &:hover {
        cursor: pointer;
        background-color: rgba(3, 172, 115, 0.7);
      }
    }
  
    &__results {
      display: none;
      padding-left: 30px;
      // min-height: 300px;
      &--active {
        display: flex;
        flex-direction: column;
        
      }
    }
  
    &__result {
      height: 36px;
      
    }
    
    &__result-link {
      color: $color-dark-alpha-100;
      font-size: $fs-ms;
      display: block;
      padding: 10px 15px;
      height: 100%;
      text-align: left;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        cursor: pointer;
        background-color: rgba(3, 172, 115, 0.7);
      }
    }
    
  }

  

