//FONT SIZE

$fs-h1: 3.6rem;
$fs-h2: 3.2rem;
$fs-xxl: 2.4rem;
$fs-xxl: 2rem;
$fs-xl: 1.8rem;
$fs-lg: 1.5rem;
$fs-md: 1.4rem;
$fs-ms: 1.3rem;
$fs-sm: 1.2rem;
$fs-mini: 1.1rem;
$fs-xs: 0.8rem;

html {
    font-family: "Roboto Condensed", sans-serif;
  
  }