.link {
    height: 40px;
    display: block;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-size: $fs-lg;
    text-align: center;
    padding: 10px;
    background-color: $color-green-alpha-100;
    color: #f3f3f3;
    
  }