html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-family: 'Roboto Condensed', sans-serif;
}

.prage__wrapper {
  background-color: #ebf6f7;
}

.header {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  background-color: #009f6b;
  border-radius: 0 0 10px 10px;
}

.header__logo-link {
  display: block;
}

.header__image {
  width: 40px;
  height: 40px;
  display: block;
  color: white;
}

.header__title {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #ebf6f7;
}

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.hamburger__box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 4px;
  background-color: white;
  border-radius: 10px;
}

.hamburger__inner::before, .hamburger__inner::after {
  width: 100%;
  height: 4px;
  background-color: white;
  position: absolute;
  border-radius: 10px;
  content: '';
  left: 0;
}

.hamburger__inner::before {
  top: -10px;
}

.hamburger__inner::after {
  top: 10px;
}

.main {
  padding: 20px;
  height: calc(100vh - 120px);
}

.main__search {
  margin: 0 auto;
}

.main__section {
  height: 100%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
}

.main__card {
  margin: 0 auto;
}

.search-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  -webkit-box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.search-box__text {
  width: 90%;
  padding: 10px 20px;
  border: none;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
}

.search-box__button {
  position: absolute;
  padding: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translate(-10px, -50%);
          transform: translate(-10px, -50%);
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;
}

.search-box__button::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("/img/search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.card {
  width: 240px;
  height: 400px;
  padding: 10px 30px;
  background-color: white;
  border: 1px solid #009f6b;
  border-radius: 10px;
}

.card__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
}

.card__info {
  margin-bottom: 10px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
}

.card__image-wrapper {
  display: block;
  height: 210px;
  border-radius: 10px;
  background-color: red;
}

.card__img {
  height: 100%;
  border-radius: 10px;
}

.plants-list {
  list-style: none;
}

.plants-list__item {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  margin-bottom: 5px;
  text-align: left;
  background-color: rgba(0, 159, 107, 0.7);
  border-radius: 10px;
  font-size: 12px;
  color: white;
}

.plants-list__name, .plants-list__latin-name {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.plants-list__link {
  display: block;
  height: 100%;
  color: white;
  text-decoration: none;
}

.plants-list__link:hover {
  cursor: pointer;
  background-color: rgba(0, 159, 107, 0.6);
}

.footer {
  height: 60px;
  color: #ebf6f7;
  background-color: #009f6b;
}

.main-select {
  height: calc(100vh - 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-select__select {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-select__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  padding: 20px;
  border-radius: 10px;
  background-color: #009f6b;
  font-size: 1.8rem;
  color: #ebf6f7;
  text-decoration: none;
  text-transform: uppercase;
}

.main-card {
  height: calc(100vh - 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination__number {
  color: red;
}

.pagination__number--active {
  color: red;
  background-color: green;
}
/*# sourceMappingURL=style.css.map */